@font-face {
    font-family: "TitilliumWeb";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

html {
    font-family: TitilliumWeb;
    max-width: 1500px;
    margin: auto;
}

body {
    background-color:#C9A0DC;
}

header {
    background-color: #C9A0DC;
}

header table {
    margin: auto;
    width: 100%;
}

header table tr td:first-child img {
    height: 50px;
    width: auto;
    display: block;
    margin: auto;
}

header table:first-child tr td:last-child {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

header table tr td:last-child a img {
    height: 50px;
    width: auto;
    padding: 10px;
    transition: background-color 0.3s, border-radius 0.3s;
}

header table tr td:last-child img:hover {
    border-radius: 25px;
    background-color: rgb(112, 5, 72, 0.5);
}

header table:first-child tr td:nth-child(2) {
    width: 75%;
    border: 4px #700548;
    border-style: solid; 
    padding-left: 2%;
    background-color: white;
    font-style: italic;
}

header table:last-child {
    font-size: large;
    text-align: center;
    border: 0px;
    border-collapse: collapse;
    font-size: 1.2em;
    max-width: 1500px;
}

header table:last-child tr td {
    background-color: #700548;
    color: white;
    padding: 15px;
    transition: background-color 0.35s;
}

header table:last-child tr td:hover {
    background-color: #CCCCFF;
}

header table:last-child tr td a {
    text-decoration: none;
    color: white;
    transition: color 0.35s;
}

header table:last-child tr td:hover a {
    color: #700548;
}

footer {

    max-width: 1500px;
    height: 50px;
    background-color: #C9A0DC;
    color: black;
    padding-top: 20px;
    border-top: 4px solid #700548;
    clear: both;
}

footer div {
    display: inline;
}

.top {
    padding-left: 10px;
    display: inline;
    color: #700548;
    font-weight: bold;
}

.author {
    display: inline;
    margin-left: 650px;
}

.copyright {
    display: inline;
    padding-left: 30px;
}

footer img {
    display: inline;
    float: right;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: -5px;
    height: 28px;
    border: 2px solid #C9A0DC;
    transition: border 0.2s, border-radius 0.4s;
}

footer img:hover {
    border: 2px dashed #700548;
    border-radius: 50%;
}

* {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    background: #C9A0DC;
    color: #700548;
}

body.dark-mode {
    background: #700548;
    color: #C9A0DC;
}

#theme-toggle {
    padding: 10px 20px;
    border: none;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
}