body {
    background-color: #C9A0DC;
}

main {
    background-color: #C9A0DC;
    padding-bottom: 40px;
}

footer {
    margin: 0px;
    clear: both;
}

main {
    margin-top: 40px;
}

main section {
    max-width: 900px;
    margin: auto;
    padding: 100px;
    background-color: white;
    border: 4px dashed #700548;
}

main section p {
    color: #700548;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1200px) {

    fieldset {
        width: 800px;
    }

    #buttonArea {
        width: 800px;
    }

    #submit {
        margin-left: 300px;
    }

    fieldset table tr td:first-child {
        width: 240px;
    }

    fieldset table tr td:last-child input {
        width: 350px;
    }

}

@media screen and (max-width: 800px) {

    fieldset {
        width: 600px;
    }

    #buttonArea {
        width: 600px;
    }

    #submit {
        margin-left: 240px;
        width: 100px;
    }

    fieldset table tr td:first-child {
        width: 200px;
        font-size: 16px;
    }

    fieldset table tr td:last-child input {
        width: 200px;
    }

}

* {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    background: #C9A0DC;
    color: #700548;
}

body.dark-mode {
    background: #700548;
    color: #C9A0DC;
}

#theme-toggle {
    padding: 10px 20px;
    border: none;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
}