main {
    background-color: #C9A0DC;
    padding-bottom: 40px;
}

footer {
    margin: 0px;
    clear: both;
}

fieldset {
    border: 3px #700548 dashed;
    width: 500px;
    margin: auto;
    background-color: white;
}

fieldset legend {
    font-weight: bolder;
    text-shadow: -2px -2px 4px #700548;
}

fieldset table tr td:first-child {
    width: 290px;
    text-align: right;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}

fieldset table tr td:last-child input {
    width: 200%;
    border: 1.5px solid #700548;
}

#radialMenu input {
    width: 20px;
}

#buttonArea {
    width: 1000px;
}

#submit {
    width: 200px;
    height: 50px;
    border: 4px solid #700548;
    background-color: #C9A0DC;
    color: white;
    font-weight: bold;
    margin-left: 400px;
    margin-block: 35px;
    clear: both;
}

@media screen and (max-width: 1200px) {

    fieldset {
        width: 800px;
    }

    #buttonArea {
        width: 800px;
    }

    #submit {
        margin-left: 300px;
    }

    fieldset table tr td:first-child {
        width: 240px;
    }

    fieldset table tr td:last-child input {
        width: 350px;
    }

}

@media screen and (max-width: 800px) {

    fieldset {
        width: 600px;
    }

    #buttonArea {
        width: 600px;
    }

    #submit {
        margin-left: 240px;
        width: 100px;
    }

    fieldset table tr td:first-child {
        width: 200px;
        font-size: 16px;
    }

    fieldset table tr td:last-child input {
        width: 200px;
    }

}